<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Trofeu Reitor 2013" %></title>
    <%= stylesheet_link_tag "foundation_and_overrides" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'shared/nav' %>
    <div class="row">
      <% flash.each do |name, msg| %>
        <div class="alert-box secondary"><%= content_tag :div, msg, :id => "flash_#{name}" %></div>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
